@charset "utf-8";
/* CSS Document */
body
{
	font-family:'Droid Sans', arial, serif;

}
#servers
{
	width:500px;
}


#left
{
	float:left;
	 margin: 1% 0 1% 1%;
   padding: 1%;

}
#right
{
	float:left;
	 margin: 1% 1% 1% 0;
	 padding: 1%;

}
.clear {
   height: 0;
   font-size: 1px;
   margin: 0;
   padding: 0;
   line-height: 0;
   clear: both;
}

#server
{
	height: auto;
	width:200px;
	font-family:'Droid Sans', arial, serif;
}
#server table
{
	background-image:url(images/back.png);
	margin-left:auto;
	margin-right:auto;
	font-family: 'Droid Sans', arial, serif;
	padding-top:0px;
	padding-bottom:0px;
}
#server table td
{
	padding-left:25px;
	font-family:'Droid Sans', arial, serif;
	padding-top:0px;
	padding-bottom:0px;
}
#server table th
{
	text-align:center;
	font-family: 'Droid Sans', arial, serif;
	font-size:14px;
	padding-top:0px;
	padding-bottom:0px;
}
#server table th h1
{
	text-align:center;
	font-family:'Droid Sans', arial, serif;
	padding-top:0px;
	padding-bottom:0px;
}
h1
{
	font-family: 'Droid Sans', arial, serif;
	text-align:center;
	font-size:16px;
	padding-top:0px;
	padding-bottom:0px;
}
h3
{
	font-family: 'Droid Sans', arial, serif;
	font-size:14px;
	padding-top:0px;
	padding-bottom:0px;
}
#players
{
	height:auto;
	width:200px;
	background-image:url(images/back.png);
}


p1
{
	padding-top:0px;
	padding-bottom:0px;
	font-family: 'Droid Sans', arial, serif;
	font-weight:400;
	color:#FFF;
	
	
}