// Variables

// Restated Bootstrap Variables
$gray: #454851;
$dark-brown: #7d7461;
$green: #8cc63f;
$light-brown: #b0a990;

$off-white: #EEEEEF;
$lightest-gray: #CCCDCF;
$lighter-gray: #AAABAF;
$light-gray: #888A90;
$mid-light-gray: #393B43;

$gray: #454851;
$mid-dark-gray: #393B43;
$dark-gray: #343442;
$darker-gray: #1B1B28;
$darkest-gray: #15151F;
$off-black: 030305;

$white: $off-white !default;
$gray-100: $lightest-gray !default;
$gray-200: $lighter-gray !default;
$gray-300: $light-gray !default;
$gray-400: $mid-light-gray !default;
$gray-500: $gray !default;
$gray-600: $mid-dark-gray !default;
$gray-700: $dark-gray  !default;
$gray-800: $darker-gray !default;
$gray-900: $darkest-gray !default;
$black: $off-black !default;

$text-muted: $gray-300;

$primary: $green;
$secondary: $dark-brown;
