// Core variables and mixins
@import "variables.scss";
@import "mixins.scss";
@import "vendor/bootstrap.scss";
@import "vendor/font-awesome/fontawesome";
@import "vendor/font-awesome/fa-brands";
@import "vendor/font-awesome/fa-regular";
@import "vendor/font-awesome/fa-solid";
// Global CSS
@import "global.scss";
@import "languages.scss";
// Components
@import "navbar.scss";
@import "masthead.scss";
@import "services.scss";
@import "portfolio.scss";
@import "timeline.scss";
@import "team.scss";
@import "contact.scss";
@import "footer.scss";
