@charset "utf-8";
/* CSS Document */
body
{
	font-family:'Droid Sans', arial, serif;

}
#server
{
	height: 500px;
	width:400px;
	font-family:'Droid Sans', arial, serif;
}
#server table
{
	background-image:url(images/back.png);
	margin-left:auto;
	margin-right:auto;
	font-family: 'Droid Sans', arial, serif;
	padding-top:0px;
	padding-bottom:0px;
}
#server table td
{
	padding-left:50px;
	font-family:'Droid Sans', arial, serif;
	padding-top:0px;
	padding-bottom:0px;
}
#server table th
{
	text-align:center;
	font-family: 'Droid Sans', arial, serif;
	font-size:16px;
	padding-top:0px;
	padding-bottom:0px;
}
#server table th h1
{
	text-align:center;
	font-family:'Droid Sans', arial, serif;
	padding-top:0px;
	padding-bottom:0px;
}
h1
{
	font-family: 'Droid Sans', arial, serif;
	text-align:center;
	font-size:30px;
	padding-top:0px;
	padding-bottom:0px;
}
h3
{
	font-family: 'Droid Sans', arial, serif;
	font-size:18px;
	padding-top:0px;
	padding-bottom:0px;
}
#players
{
	height:450px;
	width:400px;
}


p1
{
	padding-top:0px;
	padding-bottom:0px;
	font-family: 'Droid Sans', arial, serif;
	font-weight:700;
	
	
}