* {
  margin: 0;
  padding: 0; }

/*Style for external links */
a.external {
  background: url(../images/external_link.png) no-repeat top right;
  padding: 0 20px 0 0; }

body {
  background: black;
  font-family: Century Gothic, sans-serif;
  font-size: 34px;
  overflow-x: hidden; }

.section {
  margin: 0px;
  height: 4000px;
  width: 100%;
  float: left;
  /*text-shadow:1px 1px 2px #f0f0f0; */ }

#social_contact {
  z-index: 100;
  overflow: auto;
  overflow: -moz-scrollbars-none;
  display: inline-block; }

.section h1 h2 h3 {
  font-size: 35px;
  /*margin:20px 0px 0px 50px; */ }

/*Home Sections Styles */
#home {
  padding: 40px 0 0 50px; }
  #home.section h1 {
    color: #ccff00;
    font-size: 60px; }
  #home.section h2 {
    color: #9900ff;
    font-size: 60px; }
  #home.section h3 {
    color: #ff00cc;
    font-size: 60px; }
  #home.section h4 {
    color: white;
    font-size: 30px; }
  #home.section p {
    margin: 20px 0px 0px 50px;
    width: 900px;
    font-size: 24px; }

#about p {
  font-size: 20px;
  margin: 20px 80px; }

#work h3 {
  color: #ccff00;
  font-size: 20px; }
#work ul {
  font-size: 14px;
  padding: 0;
  margin: 0;
  display: block;
  list-style: circle; }
  #work ul li {
    color: white;
    font-size: 14px;
    padding: 0;
    margin: 0;
    display: block;
    float: none; }

#education ul, #resume ul, #contact ul {
  font-size: 14px;
  padding: 0;
  margin: 0;
  display: block;
  list-style: circle; }
  #education ul li, #resume ul li, #contact ul li {
    color: black;
    font-size: 14px;
    padding: 0;
    margin: 0;
    display: block;
    float: none; }

.black {
  color: white;
  background: black url(../images/green_vert.jpg) repeat-x bottom left;
  margin-top: 50px;
  padding-top: 50px; }

.white {
  color: black;
  background: #98ff05 url(../images/black_vert2.jpg) repeat-x bottom left;
  padding-top: 50px; }

.section ul {
  list-style: none;
  margin: 20px 0px 0px 550px; }

.black ul li {
  float: left;
  padding: 5px;
  margin: 5px;
  color: #98ff05;
  font-size: 28px; }
  .black ul li a {
    display: block;
    color: white; }
    .black ul li a:hover {
      text-decoration: none;
      color: #444444; }

.white ul li {
  float: left;
  padding: 5px;
  margin: 5px;
  color: #aaaaaa;
  font-size: 28px; }
  .white ul li a {
    display: block;
    color: #222222; }
    .white ul li a:hover {
      text-decoration: none;
      color: #bbbbbb; }

#navigation {
  z-index: 100;
  /*Clear fix */
  overflow: auto;
  overflow: -moz-scrollbars-none;
  display: inline-block; }
  #navigation ul li {
    display: inline;
    z-index: 100; }
    #navigation ul li a {
      z-index: 100;
      color: white;
      font-size: 20px; }
      #navigation ul li a:hover {
        color: #333333; }

/*Social Networking Icon Styles */
#container {
  width: 960px;
  margin: 0 auto; }

ul {
  margin: 0 auto;
  list-style: none;
  font-size: 0px; }

#social {
  margin: 0;
  padding: 0;
  z-index: 100; }
  #social li a {
    display: block;
    display: block;
    width: 30px;
    height: 32px;
    z-index: 100;
    -webkit-transition: -webkit-transform 0.4s ease-out;
    -moz-transition: -moz-transform 0.4s ease-out;
    transition: transform 0.4s ease-out; }
    #social li a:hover {
      -webkit-transform: rotateZ(360deg);
      -moz-transform: rotateZ(360deg);
      transform: rotateZ(360deg); }

/*Fixed Position Navigation Bar and Footer */
a {
  color: white;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

.reference {
  position: fixed;
  left: 10px;
  top: 10px;
  font-size: 13px;
  font-weight: bold;
  z-index: 1000px; }
  .reference a {
    color: white;
    text-shadow: 1px 1px 1px black;
    padding-right: 20px; }
    .reference a:hover {
      color: #dddddd;
      text-decoration: none; }

.social_links {
  position: fixed;
  z-index: 100;
  left: 10px;
  bottom: 10px;
  font-size: 13px;
  font-weight: bold; }
  .social_links a {
    color: white;
    text-shadow: 1px 1px 1px black;
    padding-right: 20px; }
    .social_links a:hover {
      color: #dddddd;
      text-decoration: none; }

ul#social li {
  float: left; }

.hide {
  display: none !important; }

#modal_curtain {
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.6);
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  display: block; }

#modal {
  position: fixed;
  top: 25%;
  left: 25%;
  width: 500px;
  height: 500px;
  background: white;
  z-index: 1000;
  margin: 0 auto;
  display: block; }
  #modal #modal_toolbar {
    height: 25px;
    width: 100%;
    background: rgba(255, 255, 255, 0.8); }
    #modal #modal_toolbar h2 {
      font-size: 18px;
      position: absolute;
      text-align: center;
      top: 0;
      z-index: 2000; }
    #modal #modal_toolbar #modal_close {
      width: 25px;
      height: 25px;
      background: url("../images/icon_close.png") no-repeat;
      position: absolute;
      top: 5px;
      right: 5px;
      z-index: 2000;
      cursor: pointer; }
  #modal #modal_buttons {
    height: 23px;
    position: absolute;
    top: 200px;
    z-index: 2000;
    width: 100%; }
    #modal #modal_buttons #modal_buttons_previous {
      cursor: pointer;
      width: 23px;
      height: 34px;
      background: url("../images/icon_arrow_left.png") no-repeat;
      float: left; }
    #modal #modal_buttons #modal_buttons_next {
      cursor: pointer;
      width: 23px;
      height: 34px;
      background: url("../images/icon_arrow_right.png") no-repeat;
      float: right; }
  #modal #modal_slides {
    overflow: hidden;
    position: relative;
    width: 500px;
    height: 500px;
    display: block;
    background: black;
    z-index: 1999; }
    #modal #modal_slides ul {
      position: relative;
      left: 0;
      top: 0;
      height: 500px;
      list-style: none;
      margin: 0;
      padding: 0;
      width: 5000px; }
      #modal #modal_slides ul li {
        position: relative;
        font-size: 20px;
        float: left;
        width: 500px;
        height: 500px;
        overflow: hidden; }
        #modal #modal_slides ul li img {
          width: 100%; }
        #modal #modal_slides ul li .modal_slide_description {
          position: absolute;
          bottom: 0;
          width: 100%;
          height: 90px;
          background: rgba(255, 255, 255, 0.5); }
          #modal #modal_slides ul li .modal_slide_description p {
            font-size: 14px; }
