/* CSS Document */
/*Purple: #9900ff
 *Pink: #FF00CC
 *Green: #CCff00 */
/*Element Button Background */
.element.web {
  background: #9900ff; }
.element.app {
  background: #ff00cc; }
.element.research {
  background: #ccff00; }

/*The isotope Container */
#container {
  width: 90%; }

/*Hover over buttons to change */
#options li a.web_button:hover, #filters li a.web_button:hover {
  color: black;
  background-color: #9900ff; }
#options li a.app_button:hover, #filters li a.app_button:hover {
  color: black;
  background-color: #ff00cc; }
#options li a.research_button:hover, #filters li a.research_button:hover {
  color: black;
  background-color: #ccff00; }
#options .option-set li a.selected, #filters .option-set li a.selected {
  background-color: #0d0b0c;
  text-shadow: none;
  color: white; }
#options li a.web_button.selected, #filters li a.web_button.selected {
  color: black;
  background-color: #9900ff; }
#options li a.app_button.selected, #filters li a.app_button.selected {
  color: black;
  background-color: #ff00cc; }
#options li a.research_button.selected, #filters li a.research_button.selected {
  color: black;
  background-color: #ccff00; }
#options li a.web_button, #filters li a.web_button {
  color: #9900ff; }
#options li a.app_button, #filters li a.app_button {
  color: #ff00cc; }
#options li a.research_button, #filters li a.research_button {
  color: #ccff00; }

/*Value to Change */
/*Hover over buttons to change */
/*Hover over buttons to change */
/*Style Navigation for Isotope */
ul#filters {
  margin: 0 auto;
  width: 400px; }
  ul#filters li {
    float: left;
    padding: 0 10px; }
