/*
 * Styling for the Work Isotope Grid
 */
.element {
  width: 200px;
  height: 200px;
  float: left;
  overflow: hidden;
  position: relative;
  background: #888888;
  color: #222222;
  border-radius: 5px; }
  .element-wrapper {
    width: 190px;
    height: 190px;
    border: 5px solid white; }
  .element:hover .display-mode,
  .element:hover .preview-mode {
    opacity: 0.7; }
  .element .display-mode {
    display: none;
    position: relative; }
    .element .display-mode-close {
      position: absolute;
      right: 10px;
      top: 10px;
      color: #eeeeee;
      font-size: 16px; }
    .element .display-mode-name {
      max-height: 50px;
      overflow: hidden;
      text-align: center; }
      .element .display-mode-name h2 {
        color: white;
        background: rgba(100, 100, 100, 0.5);
        padding: 5px; }
    .element .display-mode-description {
      max-height: 75px;
      overflow: hidden;
      width: 100%; }
      .element .display-mode-description p {
        background: rgba(100, 100, 100, 0.5);
        padding: 5px;
        margin: 0 5px;
        color: white;
        font-size: 16px; }
    .element .display-mode-tags {
      background: rgba(100, 100, 100, 0.5);
      padding: 5px; }
      .element .display-mode-tags ul {
        margin-left: 10px;
        clear: both;
        overflow: hidden; }
        .element .display-mode-tags ul li {
          float: left;
          font-size: 14px;
          text-transform: capitalize;
          color: white;
          margin-left: 5px; }
  .element .preview-mode-name {
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center; }
    .element .preview-mode-name h2 {
      margin-top: 8px;
      font-size: 18px;
      margin: 0px 5px;
      padding: 10px 0;
      line-height: 20px;
      text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
      background: rgba(100, 100, 100, 0.5); }
  .element .preview-mode-image {
    width: 100%;
    height: 100%;
    opacity: 0.2;
    position: absolute;
    top: 0;
    left: 0; }
    .element .preview-mode-image img {
      position: absolute;
      left: 0;
      top: 0;
      width: auto;
      height: 100%; }
  .element.portrait {
    height: 400px;
    width: 200px; }
    .element.portrait .element-wrapper {
      height: 390px;
      width: 190px; }
  .element.landscape {
    height: 200px;
    width: 400px; }
    .element.landscape .preview-mode-image img {
      width: 100%;
      height: auto; }
    .element.landscape .element-wrapper {
      width: 390px;
      height: 190px; }
  .element.square .carousel-wrapper,
  .element.square .carousel-list-item {
    width: 250px;
    height: 250px; }
  .element.large {
    width: 100%;
    height: 400px; }
    .element.large .display-mode {
      display: block; }
    .element.large .element-wrapper {
      height: 390px;
      width: 99%; }
    .element.large .preview-mode {
      display: none; }
