@charset "utf-8"


/*Hover over buttons to change

#options, #filters
  li a
    &.web_button:hover
      color: #000
      background-color: #9900ff
    &.app_button:hover
      color: #000
      background-color: #FF00CC
    &.research_button:hover
      color: #000
      background-color: #CCff00
  .option-set li a.selected
    background-color: #0d0b0c
    text-shadow: none
    color: white
  li a
    &.web_button.selected
      color: #000
      background-color: #9900ff
    &.app_button.selected
      color: #000
      background-color: #FF00CC
    &.research_button.selected
      color: #000
      background-color: #CCff00
    &.web_button
      color: #9900ff
    &.app_button
      color: #FF00CC
    &.research_button
      color: #CCff00

/*Value to Change

/*Hover over buttons to change

/*Hover over buttons to change

/*Style Navigation for Isotope

ul#filters
  margin: 0 auto
  width: 400px
  li
    float: left
    padding: 0 10px