#nav_bar {
    float:top;
    margin:0px auto;
    padding:0;
    text-align:center;
    width:750px;
    height:30px;
    overflow:hidden;
}
#home, #cast, #pictures, #videos, #mail {
    float:left;
    width:150px;
    height:60px;
    line-height:15px;
    font-size:10px;
    font-family:sans-serif;
    color:#ffffff;
    font-weight:bold;
    border:0px solid white;
    position:relative;
}
#nav_bar h2 {
    line-height:30px;
    font-size:15px;
    margin:0px;
    padding:0px;
}
 
#nav_top, #nav_bottom {
    height:30px;
    float:top;
}
#home {
    background:#29131F;
}
#cast {
    background:#522125;
}
#pictures {
    background:#7F2922;
}
#videos{
    background:#C24D23;
}
#mail {
    background:#DB7422;
}