/* Start: Recommended Isotope styles */
.isotope-item {
  z-index: 2; }

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1; }

/*** Isotope CSS3 transitions *** */
.isotope {
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  transition-duration: 0.8s;
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  transition-property: height, width;
  /* End: Recommended Isotope styles */
  /*** disabling Isotope CSS3 transitions *** */ }
  .isotope .isotope-item {
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    transition-duration: 0.8s;
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    transition-property: transform, opacity; }
  .isotope .isotope.no-transition {
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    transition-duration: 0s; }
    .isotope .isotope.no-transition .isotope-item {
      -webkit-transition-duration: 0s;
      -moz-transition-duration: 0s;
      transition-duration: 0s; }
  .isotope .isotope.infinite-scrolling {
    -webkit-transition: none;
    -moz-transition: none;
    transition: none; }

/* disable CSS transitions for containers with infinite scrolling */
/*** Base styles *** */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
  /*** Isotope styles *** */
  /* required for containers to inherit vertical size from window */ }
  article a img, aside a img, details a img, figcaption a img, figure a img, footer a img, header a img, hgroup a img, menu a img, nav a img, section a img {
    border: none; }
  article html, article body, aside html, aside body, details html, details body, figcaption html, figcaption body, figure html, figure body, footer html, footer body, header html, header body, hgroup html, hgroup body, menu html, menu body, nav html, nav body, section html, section body {
    height: 100%; }

#container {
  border: 0px solid #666666;
  padding: 0px;
  margin-bottom: 20px; }

.element {
  width: 110px;
  height: 110px;
  margin: 5px;
  float: left;
  overflow: hidden;
  position: relative;
  background: #888888;
  color: #222222; }
  .element.web {
    background: #eeeeee;
    background: white; }
  .element.app {
    background: #cccccc;
    background: white; }
  .element.research {
    background: #aaaaaa;
    background: white; }
  .element:hover {
    opacity: 0.8; }
  .element * {
    margin: 0; }
  .element .symbol {
    left: 0.2em;
    top: 0.4em;
    position: absolute;
    font-size: 2em;
    display: none;
    line-height: 1em;
    color: white; }
  .element.large .symbol {
    font-size: 3em;
    display: none; }
  .element.fake .symbol {
    color: black;
    display: none; }
  .element .name {
    font-size: 0.6em;
    text-align: center;
    background-size: cover;
    width: 100%;
    height: 100%; }
    .element .name .action {
      display: block;
      font-size: 11px;
      color: #eeeeee; }
  .element .weight {
    font-size: 0.7em;
    left: 0.5em;
    bottom: 0.5em;
    display: none; }
  .element .number {
    display: none;
    font-size: 1.25em;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.5);
    right: 0.5em;
    top: 0.5em; }

/*Values to change */
.variable-sizes .element.width2 {
  width: 230px; }
.variable-sizes .element.height2 {
  height: 230px; }
.variable-sizes .element.width2.height2 {
  font-size: 1.8; }

.variable-sizes .element.large {
  font-size: 2em;
  width: 100%;
  height: 450px;
  z-index: 99; }
  .variable-sizes .element.large.width2.height2 {
    font-size: 2em;
    width: 350px;
    height: 350px;
    z-index: 99; }

.description {
  padding: 25px;
  left: 0.2em;
  top: 0.4em;
  display: none; }
  .description .image-container {
    width: 100%;
    height: 330px; }
    .description .image-container li {
      height: 100%;
      width: auto; }
  .description img {
    height: 100%;
    display: inherit;
    margin: 0 auto; }

.element .description p {
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px; }

.element .description a {
  text-decoration: underline;
  color: black; }
  .element .description a:hover {
    text-decoration: none; }
.element.large .name {
  position: static;
  text-align: center;
  margin-top: 10px; }
  .element.large .name .action {
    display: none; }
.element.large .description {
  display: block; }
  .element.large .description .clickable .element:hover {
    cursor: pointer; }
    .element.large .description .clickable .element:hover h3 {
      text-shadow: 0 0 10px white, 0 0 10px white; }
    .element.large .description .clickable .element:hover p {
      text-shadow: 0 0 5px white, 0 0 5px white; }
    .element.large .description .clickable .element:hover h2 {
      color: white; }

/*** Example Options *** */
#options {
  padding-bottom: 1em; }
  #options h3 {
    margin-bottom: 0.2em; }
  #options ul {
    margin: 0;
    list-style: none;
    padding-left: 50px; }

.title {
  display: inline;
  font-size: 30px; }

h2.title, h3.title {
  border-bottom-style: double;
  border-bottom-width: medium; }

#options ul ul {
  margin-left: 1.5em; }
#options .floated li {
  float: left; }
#options li a {
  display: inline-block;
  color: #222222;
  font-weight: bold;
  font-size: 20px; }
  #options li a:hover {
    background-color: #fba540; }
  #options li a.web_button:hover {
    background-color: #eeeeee; }
  #options li a.app_button:hover {
    background-color: #cccccc; }
  #options li a.research_button:hover {
    background-color: #aaaaaa; }
  #options li a.games_button:hover {
    background-color: #888888; }
  #options li a.social_button:hover {
    background-color: #666666; }
  #options li a.classes_button:hover {
    background-color: #444444; }
  #options li a:active {
    background-color: #fa7b2a; }
#options .floated li a {
  margin-left: 10px;
  border-radius: 7px; }
#options .option-set li a.selected {
  background-color: #0d0b0c;
  text-shadow: none;
  color: white; }
#options #sort {
  float: right; }
  #options #sort li {
    display: inline; }

/*Value to Change */
/*default hover over */
/*Hover over buttons to change */
/*Hovers over to change */
/*Value to Change */
/*** Horizontal *** */
.horizontal #container {
  height: 80%; }

#copy {
  max-width: 640px; }

/*** Photo demo *** */
.photos .photo {
  width: 320px;
  margin: 5px;
  float: left; }
  .photos .photo img {
    display: block;
    width: 100%; }

/*** Docs *** */
body.doc {
  max-width: 640px; }

.doc #content {
  margin-bottom: 20px; }
.doc a:hover {
  border-bottom: 1px dotted; }

body.doc {
  margin-left: 220px; }

.doc nav {
  width: 210px;
  position: fixed;
  left: 10px;
  top: 0px;
  padding-top: 20px;
  height: 100%;
  overflow: auto; }
  .doc nav h1 {
    margin-top: 0; }
    .doc nav h1 body.doc {
      margin-left: 0px; }
    .doc nav h1 .doc nav {
      width: auto;
      position: relative;
      left: auto;
      top: auto;
      padding-top: 0px;
      height: auto;
      margin-bottom: 20px; }

/*** Doc page nav *** */
body.doc {
  margin-left: 0px; }

.doc nav {
  width: auto;
  position: relative;
  left: auto;
  top: auto;
  padding-top: 0px;
  height: auto;
  margin-bottom: 20px; }

/*** Doc page nav *** */
#docs-nav h1 {
  font-size: 19px;
  margin-bottom: 0.5em; }
  #docs-nav h1 a {
    color: #44ffbb; }

#demo-nav a {
  color: #44ffbb; }

#docs-nav h1 a:hover {
  color: #44bbff; }

#demo-nav {
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 0.5em;
  margin-bottom: 0.5em;
  border-bottom: 1px solid #333333; }
  #demo-nav a:hover {
    color: #44bbff; }

#docs-nav ul {
  list-style: none;
  margin: 0;
  font-weight: bold; }
  #docs-nav ul a {
    display: block;
    border: none;
    padding: 1px 5px; }
  #docs-nav ul .current a {
    background: rgba(0, 0, 0, 0.3);
    color: #11bbff; }
  #docs-nav ul a:hover {
    color: white; }
  #docs-nav ul .current a:hover {
    color: white; }
  #docs-nav ul .current .toc a {
    font-size: 12px;
    padding-left: 1.2em;
    font-weight: normal; }

/*** Doc content *** */
.doc h2, .doc footer {
  border-top: 1px solid #333333;
  padding-top: 0.8em; }
.doc h2:target {
  padding: 10px;
  background: white;
  color: #222222; }
.doc h3 {
  color: #ffeecc;
  background: rgba(191, 191, 191, 0.05);
  padding: 2px 0.5em;
  margin-bottom: 0.5em;
  font-size: 1.15em; }
.doc h4 {
  margin-bottom: 0.5em;
  font-size: 14px; }

footer {
  font-size: 12px;
  border-top: 1px solid #333333;
  padding-top: 0.8em; }

pre {
  padding: 10px;
  background: black;
  color: white; }

code {
  background: black;
  color: white; }

.doc #content code {
  font-size: 12px; }
.doc #content pre {
  line-height: 1.6em; }

h3#options {
  padding-bottom: 0; }

.option-def dl dt, .option-def dl dd {
  float: left;
  padding: 0 1.2em;
  background: #161616;
  line-height: 36px;
  height: 36px; }
.option-def dl.header dt, .option-def dl.header dd {
  background: #444444; }
.option-def dl .option-type {
  font-size: 13px;
  color: #aaaaaa;
  font-style: italic; }
.option-def dl dd {
  border-left: 1px solid #222222; }

/* Tagline */
.doc .tagline {
  font-size: 22px;
  font-weight: 300; }
.doc .as-is {
  font-size: 95%; }
.doc #commercial {
  background: white;
  padding: 10px;
  font-size: 14px;
  color: #1f1f1d; }
  .doc #commercial a {
    font-weight: bold; }

/* as-is from MIT */
/* Commercial license blurb */
/*** Pygments *** */
code .s1, code .s {
  color: #78bd55; }
code .mi, code .cp, code .kc {
  color: #5298d4; }
code .k {
  color: #e39b79; }
code .kd, code .na {
  color: #a9d866; }
code .p {
  color: #eeddbb; }
code .o {
  color: #ff6633; }
code .nb {
  color: #aa97ac; }
code .c, code .c1 {
  color: #666666;
  font-style: italic; }
code .nt {
  color: #a0c8fc; }
code .nf {
  color: #9ea8b8; }
code .nc {
  color: #a78352; }
code .m {
  color: #de8e50; }
code .nd {
  color: #9fad7e; }

/* string */
/*boolean */
/* keyword */
/* markup attribute */
/* punctuation */
/* operator */
/* support */
/* comment */
/* Markup open tag */
/* css id */
/* CSS class */
/* CSS value */
/* CSS pseudo selector */
#super-list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 40px; }
  #super-list li {
    display: inline-block;
    float: left;
    font-size: 28px;
    line-height: 1.2em;
    margin: 2px;
    font-weight: 300; }
    #super-list li.feature {
      background: #111111; }
    #super-list li span {
      display: block;
      padding: 0.2em 0.5em; }
    #super-list li a {
      display: block;
      padding: 0.2em 0.5em;
      color: #222222; }
    #super-list li.doc a {
      background: #33ccff; }
    #super-list li.demo a {
      background: #ffcc33; }
    #super-list li.link a {
      background: #ee5588;
      color: white; }
    #super-list li a:hover {
      background: white; }
    #super-list li.link a:hover {
      color: #222222; }
  #super-list.masonry li {
    width: 216px; }
    #super-list.masonry li.feature, #super-list.masonry li.link {
      width: 436px; }

#infscr-loading {
  position: fixed;
  bottom: 30px;
  left: 42%;
  z-index: 99;
  background: white;
  background: rgba(255, 255, 255, 0.9);
  padding: 20px;
  color: #222222;
  font-size: 15px;
  font-weight: bold;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px; }

.external {
  padding-right: 15px;
  background: url("../images/icon_external.png") no-repeat right top; }

.download {
  padding-right: 15px;
  background: url("../images/icon_download.png") no-repeat right top; }

.clearfix {
  zoom: 1; }
  .clearfix:before {
    content: "\0020";
    display: block;
    height: 0;
    visibility: hidden; }
  .clearfix:after {
    content: "\0020";
    display: block;
    height: 0;
    visibility: hidden;
    clear: both; }

footer {
  width: 500px; }
  footer a {
    color: black; }

ul.social_footer {
  list-style: none;
  display: inline; }
  ul.social_footer li {
    display: inline; }
    ul.social_footer li a {
      display: inline-block;
      width: 20px;
      height: 20px;
      z-index: 10;
      -webkit-transition: -webkit-transform 0.4s ease-out;
      -moz-transition: -moz-transform 0.4s ease-out;
      transition: transform 0.4s ease-out; }
      ul.social_footer li a:hover {
        -webkit-transform: rotateZ(360deg);
        -moz-transform: rotateZ(360deg);
        transform: rotateZ(360deg); }

/* line 37 */
