/*** Base styles *** */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }
  article a img, aside a img, details a img, figcaption a img, figure a img, footer a img, header a img, hgroup a img, menu a img, nav a img, section a img {
    border: none; }

html, body {
  height: 100%; }

* {
  margin: 0;
  padding: 0; }

.carousel {
  text-align: center;
  height: 275px; }
  .carousel-wrapper {
    width: 350px;
    height: 250px;
    overflow: hidden;
    margin: 0 auto; }
  .carousel-list {
    width: 4000px;
    clear: both;
    -webkit-transition: all 1s linear;
    -ms-transition: all 1s linear;
    -moz-transition: all 1s linear;
    -o-transition: all 1s linear;
    transition: all 1s linear;
    margin-left: 0; }
    .carousel-list-item {
      float: left;
      width: 350px;
      height: 250px; }
      .carousel-list-item img {
        width: 100%;
        height: 100%; }

/*
 * Styling for the Work Isotope Grid
 */
.isotope-item {
  z-index: 2; }

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1; }

/*** Isotope CSS3 transitions *** */
.isotope {
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  transition-duration: 0.8s;
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  transition-property: height, width;
  /* End: Recommended Isotope styles */
  /*** disabling Isotope CSS3 transitions *** */ }
  .isotope .isotope-item {
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    transition-duration: 0.8s;
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    transition-property: transform, opacity; }
  .isotope .isotope.no-transition {
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    transition-duration: 0s; }
    .isotope .isotope.no-transition .isotope-item {
      -webkit-transition-duration: 0s;
      -moz-transition-duration: 0s;
      transition-duration: 0s; }
  .isotope .isotope.infinite-scrolling {
    -webkit-transition: none;
    -moz-transition: none;
    transition: none; }

/*Hover over buttons to change */
#options:after, #filters:after {
  content: "";
  display: table;
  clear: both; }
#options .option-set li a.selected, #filters .option-set li a.selected {
  text-shadow: none;
  color: white; }
  #options .option-set li a.selected:after, #filters .option-set li a.selected:after {
    content: "";
    display: table;
    clear: both; }
#options li a.career_button, #filters li a.career_button {
  color: #9900ff; }
  #options li a.career_button:hover, #filters li a.career_button:hover {
    color: white;
    background-color: #9900ff; }
  #options li a.career_button.selected, #filters li a.career_button.selected {
    color: white;
    background-color: #9900ff; }
#options li a.project_button, #filters li a.project_button {
  color: #ff00cc; }
  #options li a.project_button:hover, #filters li a.project_button:hover {
    color: white;
    background-color: #ff00cc; }
  #options li a.project_button.selected, #filters li a.project_button.selected {
    color: white;
    background-color: #ff00cc; }
#options li a.volunteer_button, #filters li a.volunteer_button {
  color: #ccff00; }
  #options li a.volunteer_button:hover, #filters li a.volunteer_button:hover {
    color: white;
    background-color: #ccff00; }
  #options li a.volunteer_button.selected, #filters li a.volunteer_button.selected {
    color: white;
    background-color: #ccff00; }

/*Value to Change */
/*Hover over buttons to change */
/*Hover over buttons to change */
/*Style Navigation for Isotope */
ul#filters {
  margin: 0 auto;
  width: 400px; }
  ul#filters li {
    float: left;
    padding: 0 10px; }

/* disable CSS transitions for containers with infinite scrolling */
#work .info {
  text-align: center;
  margin: 20px auto;
  line-height: 20px; }
  #work .info p {
    margin-top: 5px; }
  #work .info a {
    margin-top: 5px;
    display: inline-block; }
#work h3 {
  color: #ccff00;
  font-size: 20px; }

#filters {
  font-size: 14px;
  padding: 0;
  margin: 0;
  display: block;
  width: 500px;
  margin: 5px auto; }
  #filters li {
    color: white;
    font-size: 14px;
    padding: 0;
    margin: 0 5px;
    display: block;
    float: left; }
    #filters li a {
      padding: 5px;
      border-radius: 5px;
      border-bottom: none; }

.element {
  width: 200px;
  height: 200px;
  float: left;
  overflow: hidden;
  position: relative;
  background: #888888;
  color: #222222;
  border-radius: 5px;
  cursor: pointer; }
  .element-wrapper {
    width: 190px;
    height: 190px;
    border: 5px solid white; }
  .element:hover .display-mode,
  .element:hover .preview-mode {
    opacity: 0.7; }
  .element .display-mode {
    display: none;
    position: relative; }
    .element .display-mode-close {
      position: absolute;
      right: 10px;
      top: 10px;
      color: #eeeeee;
      font-size: 16px; }
    .element .display-mode-name {
      max-height: 50px;
      overflow: hidden;
      text-align: center; }
      .element .display-mode-name h2 {
        color: white;
        background: rgba(100, 100, 100, 0.5);
        padding: 5px; }
    .element .display-mode-description {
      max-height: 75px;
      overflow: hidden;
      width: 100%; }
      .element .display-mode-description p {
        background: rgba(100, 100, 100, 0.5);
        padding: 5px;
        margin: 0 5px;
        color: white;
        font-size: 16px; }
    .element .display-mode-tags {
      background: rgba(100, 100, 100, 0.5);
      padding: 5px; }
      .element .display-mode-tags ul {
        margin-left: 10px;
        clear: both;
        overflow: hidden; }
        .element .display-mode-tags ul li {
          float: left;
          font-size: 14px;
          text-transform: capitalize;
          color: white;
          margin-left: 5px; }
  .element .preview-mode-name {
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center; }
    .element .preview-mode-name h2 {
      margin-top: 8px;
      font-size: 18px;
      margin: 0px 5px;
      padding: 10px 0;
      line-height: 20px;
      text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
      background: rgba(100, 100, 100, 0.5); }
  .element .preview-mode-image {
    width: 100%;
    height: 100%;
    opacity: 0.2;
    position: absolute;
    top: 0;
    left: 0; }
    .element .preview-mode-image img {
      position: absolute;
      left: 0;
      top: 0;
      width: auto;
      height: 100%; }
  .element.portrait {
    height: 400px;
    width: 200px; }
    .element.portrait .element-wrapper {
      height: 390px;
      width: 190px; }
  .element.landscape {
    height: 200px;
    width: 400px; }
    .element.landscape .preview-mode-image img {
      width: 100%;
      height: auto; }
    .element.landscape .element-wrapper {
      width: 390px;
      height: 190px; }
  .element.square .carousel-wrapper,
  .element.square .carousel-list-item {
    width: 250px;
    height: 250px; }
  .element.large {
    width: 100%;
    height: 400px; }
    .element.large .display-mode {
      display: block; }
    .element.large .element-wrapper {
      height: 390px;
      width: 99%; }
    .element.large .preview-mode {
      display: none; }

.element.career {
  background: #7a00cc; }
.element.project {
  background: #cc00a3; }
.element.volunteer {
  background: #a3cc00; }

#container {
  margin: 20px auto;
  width: 100%;
  border: 0px solid #666666;
  padding: 0px; }
  #container:after {
    content: "";
    display: table;
    clear: both; }

#home {
  padding: 40px 0 0 50px; }
  #home.section h1 {
    color: #ccff00;
    font-size: 60px; }
  #home.section h2 {
    color: #9900ff;
    font-size: 60px; }
  #home.section h3 {
    color: #ff00cc;
    font-size: 60px; }
  #home.section h4 {
    color: white;
    font-size: 30px;
    margin: 5px 0; }
  #home.section h5 {
    margin-top: 10px;
    font-size: 24px; }
  #home.section p {
    margin: 20px 0px 0px 50px;
    width: 900px;
    font-size: 24px; }
  @media (max-width: 550px) {
    #home {
      padding: 10px; } }

#contact .contact-list li a:hover svg {
  border-radius: 100%;
  color: white;
  fill: white;
  transform: scale(1.25);
  transition: background-color 0.5s, transform 0.5s ease-out; }

#contact .contact-list {
  width: 460px;
  list-style: none;
  margin: 20px auto; }
  #contact .contact-list:after {
    content: "";
    display: table;
    clear: both; }
  #contact .contact-list li {
    margin-left: 10px;
    width: 100px;
    height: 100px;
    float: left;
    list-style: none; }
    #contact .contact-list li.linkedin a svg {
      fill: #0fa1ff; }
    #contact .contact-list li.twitter a svg {
      fill: #9900ff; }
    #contact .contact-list li.email a svg {
      fill: #ccff00; }
    #contact .contact-list li.instagram a svg {
      fill: #ff00cc; }
    #contact .contact-list li a {
      border-bottom: none; }
    #contact .contact-list li svg {
      width: 100%;
      height: 100%;
      fill: white; }
  @media (max-width: 460px) {
    #contact .contact-list {
      width: 260px; } }

body {
  background: black;
  font-family: Century Gothic, sans-serif; }

.section {
  min-height: 2000px;
  width: 100%; }
  .section:after {
    content: "";
    display: table;
    clear: both; }
  .section.black {
    color: white;
    background: black url(../images/green_vert.jpg) repeat-x bottom left;
    margin-top: 50px;
    padding-top: 50px; }
  .section.green {
    color: black;
    background: #98ff05 url(../images/black_vert2.jpg) repeat-x bottom left;
    padding-top: 50px; }
  .section h2.header {
    text-align: center;
    font-size: 40px; }

#options {
  padding-bottom: 1em; }
  #options h3 {
    margin-bottom: 0.2em; }
  #options ul {
    margin: 0;
    list-style: none;
    padding-left: 50px; }

a {
  color: #0fa1ff;
  border-bottom: 1px solid #0fa1ff;
  text-decoration: none; }
  a:hover {
    border-bottom-color: transparent; }
