
#changingHeader{
	background: #000000 url("../images/afternoon.jpg");
	height:150px;
	width:750px;
	
}
body{
	background:#73a2f1;
}
	/*WRAP*/
#container {
background : #eae9eb;
color : #666;
}

			/*FOOTER*/
#footer {
border-top : 5px solid #b697ca;
color : #fff;
background : #000000;
}

#footer a:link, #footer a:visited {
color : #eee;
}
#footer a:hover {
color : #b697ca;
}
#footer a:active {
color : #ffffff;
}

/*Font Colors*/
h2 {
color : #6a6c5b;
}
h3 {
color : #6a6c5b;
}
h1{
	color:#5c6360;
}


/*Links*/
a:link, a:visited {
color:#3052ab;
}

a:hover {
color : #000;
}

a:active {
color : #aaa;
}


/*Navigation Bar*/
#nav_bar {
    float:top;
    margin:0px auto;
    padding:0;
    text-align:center;
    width:750px;
    height:30px;
    overflow:hidden;
}
#home, #cast, #pictures, #videos, #mail {
    float:left;
    width:150px;
    height:60px;
    line-height:15px;
    font-size:10px;
    font-family:sans-serif;
    color:#ffffff;
    font-weight:bold;
    border:0px solid white;
    position:relative;
}
#nav_bar h2 {
    line-height:30px;
    font-size:15px;
    margin:0px;
    padding:0px;
	color:#000;
}
#nav_bar a:link,#nav_bar a:visited  {
	color:#000;
}
#nav_bar a:hover {
	color:#aaa;
}
 
#nav_top, #nav_bottom {
    height:30px;
    float:top;
}
#home {
    background:#b697ca;
}
#cast {
    background:#ebb1bf;
}
#pictures {
    background:#f8ebbb;
}
#videos{
    background:#b9f9f1;
}
#mail {
    background:#a6bffa;
}