
#changingHeader{
	background: #000000 url("../images/twilight.jpg");
	height:150px;
	width:750px;
	
}
body{
	background:#081028;
}
	/*WRAP*/
#container {
background : #eae9eb;
color : #666;
}

			/*FOOTER*/
#footer {
border-top : 5px solid #0079de;
color : #fff;
background : #000000;
}

#footer a:link, #footer a:visited {
color : #eee;
}
#footer a:hover {
color : #3da6fe;
}
#footer a:active {
color : #ffffff;
}

/*Font Colors*/
h2 {
color : #010418;
}
h3 {
color : #010418;
}
h1{
	color:#5c6360;
}


/*Links*/
a:link, a:visited {
color:#014d8c;
}

a:hover {
color : #000;
}

a:active {
color : #aaa;
}


/*Navigation Bar*/
#nav_bar {
    float:top;
    margin:0px auto;
    padding:0;
    text-align:center;
    width:750px;
    height:30px;
    overflow:hidden;
}
#home, #cast, #pictures, #videos, #mail {
    float:left;
    width:150px;
    height:60px;
    line-height:15px;
    font-size:10px;
    font-family:sans-serif;
    color:#ffffff;
    font-weight:bold;
    border:0px solid white;
    position:relative;
}
#nav_bar a:link, #nav_bar a:visited {
	color:#CCC;
}
#nav_bar a:hover{
	color:#fff;

}
#nav_bar h2 {
    line-height:30px;
    font-size:15px;
    margin:0px;
    padding:0px;
	color:#dce0e3;
}
 
#nav_top, #nav_bottom {
    height:30px;
    float:top;
}
#home {
    background:#002443;
}
#cast {
    background:#014d8c;
}
#pictures {
    background:#0079de;
}
#videos{
    background:#3da6fe;
}
#mail {
    background:#74bffe;
}